.new-tweet-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 1.25rem;
}

.new-tweet-form label {
  display: flex;
  gap: 0.75rem;
}

.new-tweet-form img {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
}

.new-tweet-form textarea {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 500;
  color: #FFF;
  margin-top: 0.75rem;
  background-color: var(--dark-100);
  border: 0;
  resize: none;
  outline: none;
}

.new-tweet-form textarea:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #2F2F2F;
}

.new-tweet-form button {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 900;
  color: #FFF;
  margin-left: auto;
  padding: 0.75rem 1.5rem;
  background-color: var(--twitter-blue);
  border: 0;
  border-radius: 9999px;
}

.new-tweet-form button:hover {
  filter: brightness(0.9);
}
